<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Stuff2LD{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='normalize.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
  </head>
  <body>
    <header class="w1of1 color3-bg dark clearfix">
      <hgroup class="wrapper darker clearfix">
        <h1><a href="/">Stuff2LD</a></h1>
      </hgroup>
      <nav class="w1of1 light-bg color3-border border-bottom clearfix">
        <ul class="wrapper">
            <li><a href="blogger2ld">Blogger2LD</a></li>
            <li><a href="twitter2ld">Twitter2LD</a></li>
            <li><a href="web">Web Interface</a></li>
        </ul>
      </nav>
    </header>

    <div class="wrapper clearfix">
      {% block content %}
      {% endblock %}
    </div>

      <footer class="w1of1 clearfix">
        <div class="wrapper">
          <hr/>
          {% block footer %}
          <p><a href="http://rhiaro.co.uk">Made by Amy</a></p>
          {% endblock %}
        </div>
      </footer>
    {% block js_footer %}
    {% endblock %}
  </body>
</html>
