{% extends "base.html" %}
{% block content %}

<h2>Blogger2LD</h2>
<p>Because who wouldn't want this?</p>
<p>Insert instructions on where to go to export your Blogger as XML.</p>
<form method="post" enctype="multipart/form-data">
	<p>
		<label>Blogger XML file:</label> 
		<input class="neat" id="xml" type="file" />
		<input type="submit" value="Go!" />
	</p>
</form>
<h3>Results</h3>
<textarea class="neat">{{ turtle }}</textarea>

{% endblock %}