/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

a, a:active, a:visited { color: inherit; }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f8f8f8;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #f8f8f8;
    color: #333;
    padding: 0.2em 0;
}

th {
    text-align: left;
}
td, th {
    padding-left: 1em;
}

/*******************************************/
/* CSS TEMPLATE                            */
/* To be used with a reset, or Initializr  */
/* @author Amy Guy (rhiaro.co.uk)          */
/* @date 6th December 2011                 */
/* @last-updated 18th Mar 2013              */
/*******************************************/

/** 
    0.0 Accessibility
**/
    .no-css {
        /* This class hides stuff that needs to be around for screenreaders
         * or users with no CSS, but not in normal circumstances
         */
        position: absolute; left: -1333px;
    }

    @media screen and (min-width: 768px){
        .mob {
            display: none; visibility: hidden;
        }
    }

/** 
    1.0 Typography
**/

    body {
        font-size: 62.5%;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    h1 { font-size: 2em; font-weight: normal; }
    h2 { font-size: 1.8em; font-weight: bold; }
    h3 { font-size: 1.4em; font-weight: bold;}
    h4 {}
    h5 {}

    p { font-size: 1.4em; }
    p a {text-decoration: underline;}
    a { text-decoration: inherit; }
    a:hover { text-decoration: underline; }

    nav { text-align: center; font-size: 1.4em; }
    nav a:hover { text-decoration: none; }

    textarea {font-size: 1.8em; font-family: monospace;}

    .note {
      font-size: 1em;
      font-weight: bold;
      text-align: right;
    }

    .wee {
      font-size: 0.8em;
    }

    .win, .fail {}
    ul.win, ul.fail { list-style-type: none;}

    .upp { text-transform: uppercase; }
    .low { text-transform: lowercase; }
    .cap { text-transform: capitalize; }
    .align-left { text-align: left;}
    .align-right { text-align: right;}
    .align-center { text-align: center;}

    button, .btn, .btn-big {
      text-align: center;
    }

    button a, .btn a, .btn-big a {
      text-decoration: none;
    }

    footer a {
        text-decoration: underline;
    }

/*  1.2     */
    @media screen and (min-width: 768px){}

/*  1.3     */
    @media screen and (min-width: 1024px){}

/*  1.4     */
    @media screen and (min-width: 1200px){}


/** 
    2.0 Colors, shadows, borders
**/
    
    /* Borders */
      .win, .fail, .color1-border, .color2-border, .color3-border, .darker-border { border-width: 1px; border-style: solid; }
      border-bottom { border-width: 0 0 1px 0; border-style: solid; }
      input, textarea { border: 1px solid silver; }
    
    /* Dark */
        .dark{ color: #777;  }
        .dark-bg{ background-color: #777; }
        .dark-texture { background-color: #777; background-repeat: repeat;}
        .dark-border { border-color: #777; }
        .dark-gradient {}
        .dark-hov:hover { color: #777; }
    /* Darker */
        .darker { color: #333; }
        .darker-bg{ background-color: #333; }
        .darker-texture { background-color: #333; }
        .darker-border { border-color: #333; }
        .darker-gradient {}
        .darker-hov:hover, nav a:hover { color: #333; }

    /* Primary Color (pale blue) */
        .color1{ color: #B3D4FC;}
        .color1-bg{ background-color: #B3D4FC;}
        .color1-texture { background-color: #B3D4FC; }
        .color1-border{ border-color: #B3D4FC;}
        .color1-gradient {}
        .color1-hov:hover { color: #B3D4FC; }
        
    /* Secondary Color (dark grey blue) */
        .color2 { color: #45464e;}
        .color2-bg{ background-color: #45464e;}
        .color2-texture { background-color: #45464e; background-image:url('../img/bluenoise.png'); background-repeat: repeat;}
        .color2-border{ border-color: #45464e;}
        .color2-gradient {}
        .color2-hov:hover { color: #45464e;}

    /* Teritiary Color (mid grey) */
        .color3 { color: #e7e7e7;}
        .color3-bg{ background-color: #e7e7e7;}
        .color3-texture { background-color: #e7e7e7; }
        .color3-border{ border-color: #e7e7e7;}
        .color3-gradient {}
        .color3-hov:hover { color: #e7e7e7;}

    /* Light */
        .light { color: #f8f8f8; }
        .light-bg{ background-color: #f8f8f8; }
        .light-texture {background-color: #ededed; background-image:url('../img/lightnoise.png'); background-repeat: repeat;}
        .light-border {border-color: #f8f8f8; }
        .light-gradient {}
        .light-hov:hover { color: #f8f8f8; }
        .tri-up.light { border-color: transparent transparent #f8f8f8 transparent; }
        .tri-l.light { border-color: transparent #f8f8f8 transparent transparent; }
    /* Lighter */
        .lighter{ color: #fff; }
        .lighter-bg{ background-color: #fff; }
        .lighter-texture {}
        .lighter-border {border-color: #fff; }
        .lighter-gradient {}
        .lighter-hov:hover { color: #fff; }

    .note { color: silver; }

    .win {
      background-color: #E6EFC2;
      color:#264409;
      border-color:#C6D880;
    }

    .fail {
      background:#FBE3E4;
      color:#8a1f11;
      border-color:#FBC2C4;
    }

    .btn a, input.btn {
        border: 1px solid;
        border-radius: 10px;
    }


/** 
    3.0 Spacing / Grid
**/

    .wrapper { width: 100%; padding: 0.5em; }

    /* Grid */
    .w1of1, .w1of2, .w1of3, .w1of4, .w1of5,
    .w2of3, .w3of4, .w2of5, .w3of5, .w4of5 {
        width: 100%;
    }

    .inner { padding: 0.6em; }
    .unpad { padding: 0; margin: 0;}

    nav {
        width: 100%;
        max-width: 100%;
    }
    nav a {
        display: inline-block;
        padding: 0.8em;
    }
    nav ul { padding: 0; margin: 0; }

    .btn { display: inline-block; margin: 0; padding: 0;}
    button {
      padding: 0.5em;
    }
    .btn a, .btn-big a {
      padding: 0.5em;
      display: block; width: 100%;
    }
    input.btn { padding: 0.5em; }

    input, textarea { padding: 0.2em; }

    label.neat {
        display: inline-block;
        width: 5.6em;
    }
    input.neat {
        display: inline-block;
        width: 75%;
    }
    label.neat-big {
        display: inline-block;
        width: 100%;
    }
    input.neat-big, textarea.neat-big, textarea.neat {
        display: inline-block;
        width: 90%;
    }
    textarea.neat, textarea.neat-big {
        height: 10em;
    }

    .inline { display: inline; }
    .right { float: right; }
    .left { float: left; }

    .win, .fail {
      padding: 0.2em;
      display: block;
    }

/*  3.1     */
    @media screen and (min-width: 479px){

        nav a { float: right; }

    }

/*  3.2     */
    @media screen and (min-width: 768px){

        .w1of2 { width: 50%; float: left; }
        .w1of3 { width: 33%; float: left; }
        .w1of4 { width: 25%; float: left; }
        .w1of5 { width: 20%; float: left; }
        .w2of3 { width: 66%; float: left; }
        .w3of4 { width: 75%; float: left; }
        .w2of5 { width: 40%; float: left; }
        .w3of5 { width: 60%; float: left; }
        .w4of5 { width: 80%; float: left; }

        .w1of3:nth-child(odd) { clear: none; }
        .w1of3:nth-child(3n-2) { clear: both; }

        .content { height: 100%; overflow-y: scroll;}
        .content .inner { padding-left: 32px; padding-top: 64px;}
        nav a { display: block; }

        .tri-l { margin-top: 0.8em;}

    }

/*  3.3     */
    @media screen and (min-width: 1024px){

        .wrapper { 
            padding: 0;
            width: 80%; max-width: 1000px; 
            margin-left: auto; margin-right: auto;
        }

        nav {
            text-align: right;
        }

    }

/*  3.4     */
    @media screen and (min-width: 1200px){}


/** 
    4.0 Images & video
**/

    .vid-holder {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        text-align: center;
    }

    .vid-holder iframe,  
    .vid-holder object,  
    .vid-holder embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Full width images on bigger than small screens are dumb. Reset this. */
    @media screen and (max-width: 478px){
      .w1of1 img, .w1of2 img, .w1of3 img, .w1of4 img, .w1of5 img,
      .w2of3 img, .w3of4 img, .w2of5 img, .w3of5 img, .w4of5 img {
        width: 100%;
      }
    }







/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {

}

@media print {
    * {
        background: transparent !important;
        color: #333 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}